*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
    box-sizing: border-box;
}  

h2
{
    font-size: 25px;
}

.header-one
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

nav
{
    width: auto;
    background-color: black;
    padding: 18px 0;
}

.link1,.link2,.link3,.link4
{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 50px;
    
}

.link1:hover,.link2:hover,.link3:hover,.link4:hover
{
    padding-left: 20px;
    text-align: center;
    background-color: gray;
    padding:20px 50px;
}

.section1
{
    padding:200px;
    background-image: url(images/cafe2.jfif);
    background-size: cover;
}

#section-thecafe
{
    text-align: center;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
}

/* .container1 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 115px;
}

.para1,.addresse
{
    background-color: black;
    padding: 5px;
    color: white;
    text-align: center; 
}
*/

.section2,.section3,.section4
{
    padding: 30px;
    width: 670px;
    margin:50px auto;

}

.container2
{
    text-align: justify;
}


#section-about
{
   text-align: center;
   margin: auto;
   margin-bottom: 20px;
   text-transform: uppercase;
   background-color: black;
   color: white;
   /* width: 250px; */
}

.citation
{
    padding: 10px;
    background-color: rgba(202, 232, 249, 0.3);
    margin: 20px 0 35px 0;
    border-left: 10px grey solid;

}

q
{
    font-family:'Courier New', Courier, monospace;
}

em
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.image1,.image2
{
    /* width: 670px; */
    width: 100%;
    /* height: 320px; */
    height: auto;

}

address
{
    margin-top: 10px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

strong
{
    font-family:Arial, Helvetica, sans-serif;

}

#section-the_menu
{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
 }

 .container3
{
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px black ;
    width: 650px;

}

.div5
{
    display: flex;
    justify-content: center;
}

.eat,.drink
{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 10px;
    background-color: black;
    /* width: 300px; */
    width: 100%;
    text-align: center;
}

.eat:hover,.drink:hover
{
    padding: 10px;
    background-color: gray;
    /* width: 300px; */
    text-align: center;

} 

.div6,.div7,.div8,.div9,.div10
{
    padding: 10px;
    margin-bottom: 10px;
}

.para3
{
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title
{
    font-weight: 500;
    font-size: 1.3em;
}

.image2
{
    width: 100%;
    height: auto;
    /* width: 660px; */
    /* height: 350px; */

}

.image3
{
    width: 670px;
    height: auto;
    /* height: 350px; */

}

.mon-image2
{
    margin-top: 20px;
}

#section-where
{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: auto;
    /* width: 250px; */
 }

 .container4
{
    width: 670px;
    margin: auto;
}

.container4 p:first-child
{
    margin-bottom: 10px;
}

strong
{
    color: white;
    background-color: black;
    padding: 5px;
}

.para4
{
    line-height:30px;
    text-align: justify;
    word-wrap: break-word;
    margin-bottom: 20px;
}

input
{
    font-size: 1em;
    height: 50px;
    width: 100%;
    /* width: 700px; */
    border-radius: 3px;
    text-indent: 5px;
    border: 1px solid grey;
    outline: none;
    margin-top: 20px;
}

input:last-child
{
    margin-bottom: 10px;
}

.para5
{
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

button
{
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 15px;
    width:30%;
    outline: none;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    transition: transform 200ms;
}

button:hover
{
    transform: scale(1.1);
}

footer
{
    text-align: center;
    padding: 20px;
}

.eko
{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#section-about,#section-the_menu,#section-where
{
    width: 300px;
    margin-bottom: 20px;
}
/* debut des requettes média */
@media screen and (max-width:800px) {
    h2
    {
        font-size: 20px;
    }
    .header-one{
        position: static;
    }

    .link1,.link2,.link3,.link4
    {
        padding:10px 20px;   
    }

    .link1:hover,.link2:hover,.link3:hover,.link4:hover
    {
        padding:20px 20px;
    }

    .section1
    {
        padding:50px;
    }

    .container1
    {
        top: 30px;
    }

    .section2,.section3,.section4
    {
        padding: 30px;
        width:auto;
        margin:20px auto;

    }

    .container3
    {
        width:100%;
    
    }

    .image2,.image3
    {
        width:100%;
        height: 250px;
        /* height: 350px; */

    }

    .container4
    {
        width:100%;
        margin: auto;
    }

    .container3
    {
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 5px black ;
        width: auto;
    }
}

@media screen and (max-width:535px) {
    button{
        width: auto;
    }
}