body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}  

nav
{
    background-color: black;
    position: fixed;
    width:100%;
    padding: 19px 0;
    text-align: left;
}

.link1,.link2,.link3,.link4
{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 50px;
    
}

.link1:hover,.link2:hover,.link3:hover,.link4:hover
{
    padding-left: 20px;
    text-align: center;
    background-color: gray;
    padding:20px 50px;
    overflow: hidden;
}

.section1
{
    padding: 150px;
    background-image: url(images/cafe2.jfif);
    background-size: cover;
}

#section-thecafe
{
    text-align: center;
    color: white;
    font-size: 5em;
    text-transform: uppercase;
}

.container1
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.para1,.addresse
{
    background-color: black;
    padding: 5px;
    color: white;
    position: relative;
    top: 130px;
}

.para1
{
    position: relative;
    right: 130px;
    
    
}

.addresse
{
    position: relative;
    left: 100px;
    
}

.section2,.section3,.section4
{
    padding: 30px;
    width: 670px;
    margin: auto;

}

.container2
{
    text-align: justify;

}


#section-about
{
   text-align: center;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 20px;
   text-transform: uppercase;
   background-color: black;
   color: white;
   width: 250px;
}

.citation
{
    padding: 10px;
    background-color: rgba(202, 232, 249, 0.3);
    margin: 20px 0 35px 0;
    border-left: 10px grey solid;

}

.image1,.image2
{
    width: 670px;
    height: 320px;

}

q
{
    font-family:'Courier New', Courier, monospace;

}

em
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

address
{
    margin-top: 10px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

strong
{
    font-family:Arial, Helvetica, sans-serif;

}

#section-the_menu
{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 170px;
    margin: auto;
    margin-bottom: 20px;
 }

 .container3
{
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px black ;
    width: 640px;

}

.div5
{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.eat,.drink
{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    padding: 10px;
    background-color: black;
    width: 200px;
    text-align: center;
}

.eat:hover,.drink:hover
{
    padding: 10px;
    background-color: gray;
    width: 300px;
    text-align: center;

} 

.div6,.div7,.div8,.div9,.div10
{
    padding: 10px;
    margin-bottom: 10px;
}

.para3
{
    color: grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title
{
    font-weight: normal;
    font-size: 1.3em;
}

.image2,.image3
{
    width: 660px;
    height: 350px;

}

.mon-image2
{
    margin-top: 40px;
}

#section-where
{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 250px;
 }

 .container4
{
    width: 700px;
    margin: auto;
}

strong
{
    color: white;
    background-color: black;
    padding: 5px;
}

.para4
{
    line-height:40px;
    text-align: justify;
    word-wrap: break-word;
}

input
{
    font-size: 1em;
    height: 50px;
    width: 700px;
    border-radius: 3px;
    text-indent: 5px;
    border: 1px solid grey;
}

.para5
{
    color: red;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

button
{
    color: white;
    background-color: black;
    padding: 15px;
    width: 200px;
    border-radius: 3px;
    text-transform: uppercase;
}

footer
{
    text-align: center;
    padding: 20px;
}

.eko
{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* debut des requettes média */
@media screen and (max-width:800px) {
 

    nav
    {
        background-color: black;
        position: fixed;
        width:100%;
        padding: 10px 0;
        text-align: center;
    }

    .link1,.link2,.link3,.link4
    {
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        text-decoration: none;
        padding:10px 15px;
        
    }

    .link1:hover,.link2:hover,.link3:hover,.link4:hover
    {
        padding-left: 20px;
        text-align: center;
        background-color: gray;
        padding:12px 15px;
        
    }

    #section-thecafe
    {
        text-align: center;
        color: rgb(43, 42, 42);
        font-size: 5em;
        text-transform: uppercase;
    }

    .section1
    {
        padding: 40px;
        background-image: url(images/cafe2.jfif);
        background-size: cover;
    }

    .container1
    {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .para1,.addresse
    {
        background-color: black;
        padding: 5px;
        color: white;
        position: relative;
        top: 20px;
    }

    .para1
    {
        position: relative;
        right: 30px;
        
        
        
    }

    .addresse
    {
        position: relative;
        left: 30px;
        top: 15px;
        
    }

    .section2,.section3,.section4
    {
        padding: 30px;
        width: auto;
        margin: auto;

    }

    #section-about
    {
        text-align: center;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        width: 250px;
    }

    .image2,.image3
    {
        width: auto;
        height: 250px;

    }

    .image1
    {
        width: auto;
        height: 200px;

    }

    #section-where
    {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        width: 250px;
    }

    .container3
    {
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px black ;
        width: auto;
    
    }
    
    .div5
    {
        padding: 10px;
        display: block;
    
    }

    .eat,.drink
    {
        text-decoration: none;
        text-transform: capitalize;
        color: white;
        padding: 10px;
        background-color: black;
        width: 200px;
        text-align: center;
    }

    .eat:hover,.drink:hover
    {
        padding: 10px;
        background-color: gray;
        width: 150px;
        text-align: center;

    } 

    #section-where
    {
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
        text-transform: uppercase;
        background-color: black;
        color: white;
        width:250px;
    }

    .container4
    {
        width: auto;
        margin: auto;
    }

    .mon-image2
    {
        margin-top: 20px;
    }

    .image3
    {
        width: auto;
        height: 210px;

    }

    input
    {
        font-size: 1em;
        height: 30px;
        width: 350px;
        border-radius: 3px;
        text-indent: 5px;
        border: 1px solid grey;
    }

    .para5
    {
        color: red;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
    }

    button
    {
        color: white;
        background-color: black;
        padding: 15px;
        width: 150px;
        border-radius: 3px;
        text-transform: uppercase;
    }

}